# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VSCode
.vscode/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db
